Flask==0.9
Flask-SQLAlchemy==0.16
Jinja2==2.6
SQLAlchemy==0.8.0b2
Werkzeug==0.8.3
distribute==0.6.31
wsgiref==0.1.2
Flask-Script==0.5.3
psycopg2
BeautifulSoup==3.2.1
APScheduler==2.0.3

# ----------------------
# Production Server
# ----------------------
gevent
gunicorn
