{% extends "base.html" %}
{% block title %}The Big Bang Theory Transcript Season {{season}} Episode {{episode}}{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block jslib %}
        <script type="text/javascript">
            season = {{season}}
            episode = {{episode}}
        </script>
        <script src="/static/js/jquery.tmpl.js"></script>
        <script src="/static/js/bootstrap-scrollspy.js"></script>
        <script src="/static/js/bootstrap-affix.js"></script>
        <script src="/static/js/app.js"></script>
{% endblock jslib %}

{% block header %}
    {{ super() }}
{% endblock header %}

{% block content %}
  <div class="jumbotron subhead">
    <div class="container">
      <div class="row">
        <div class="span12">
          <h1>The Big Bang Theory Season {{season}} Episode {{episode}}</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
      <div class="span3 scene-select-sidebar">
        <ul class="nav nav-list scene-select-sidenav affix" id="sceneList">
        </ul>
      </div>

      <div id="main" class="span8">
        <div id="scene">
        </div>
      </div>
    </div> <!-- /container -->

    <script id="scene-tmpl" type="text/x-jquery-tmpl">
      <li class="row speech-row">
        <div class="speech">
          <p class="scene">${scene}</p>
        </div>
      </li>
    </script>

    <script id="speech-tmpl" type="text/x-jquery-tmpl">
      <li class="row speech-row">
        <div class="figure-block ${orient}">
          <img src="/static/img/${speech.figure}.png" class="img-polaroid">
        </div>
        <div class="speech ${orient}">
          <p class="speech-bubble ${orient} ${color}">${speech.content}</p>
        </div>
      </li>
    </script>

    <script id="scene-affix-tmpl" type="text/x-jquery-tmpl">
      <li><a href="#${href}"><i class="icon-chevron-right"></i> ${scene}</a></li>
    </script>


{% endblock content %}

{% block footer %}
    {{ super() }}
{% endblock footer %}