<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>TBBT Transcript Viewer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="static/css/speech-bubbles.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="static/js/jquery.js"></script>
    <script src="static/js/jquery.tmpl.js"></script>
    <script src="static/js/app.js"></script>
    
    

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="./favicon.ico">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">TBBT Transcript Viewer</a>
          <div class="nav-collapse">
            <div class="nav pull-right">
              <div id="user">
                  {% if username %}
                  <img src="{{avatar}}" alt="{{username}}"/>
                  <span>{{username}}</span>
                  {% endif %}
                  {% if username %}
                  <a href="/logout">退出</a>
                  {% else %}
                  <a href="/login_to_weibo">登陆</a>
                  {% endif %}
              </div>
            </div>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      
      <div id="main" class="span">
        <h1>The Big Bang Theory Season 6 Episode 1 Scene <span id="SceneIdx"></sapn></h1>
        <button class="btn btn-primary" id="preBtn">上一幕</button>
        <button class="btn btn-primary pull-right" id="nextBtn">下一幕</button>
        <ul id="speech">
        </ul>
      </div>
    </div> <!-- /container -->

    <script id="scene-tmpl" type="text/x-jquery-tmpl">
      <li class="row speech-row">
        <div class="speech">
          <p class="scene">${scene}</p>
        </div>
      </li>
    </script>

    <script id="speech-tmpl" type="text/x-jquery-tmpl">
      <li class="row speech-row">
        <div class="figure-block ${orient}">
          <img src="static/img/${speech.figure}.png">
        </div>
        <div class="speech ${orient}">
          <p class="speech-bubble ${orient} ${color}">${speech.content}</p>
        </div>
      </li>
    </script>
  </body>

</html>