p.speech-bubble  
{  
    position: relative;  
    max-width: 300px;
    min-width: 200px;   
    min-height: 50px;
    text-align: center;  
    font: 1.4em/1.5 Cambria, Georgia, sans-serif; 
    -webkit-border-radius: 20px;  
    -moz-border-radius: 20px;  
    border-radius: 20px;  
    padding: 10px;
    color: #000;
}

p.speech-bubble:after  
{  
    content: ' ';  
    position: absolute;  
    width: 0;  
    height: 0;   
    top: 30px;  
    border: 10px solid;    
}

p.speech-bubble.left
{  
    margin-left: 20px;
}

p.speech-bubble.right
{  
    margin-right: 20px;
}

p.speech-bubble.left:after  
{  
    left: -20px;    
}

p.speech-bubble.right:after  
{   
    right: -20px;   
}

p.speech-bubble.gray
{
    background-color: #dddddd;  
    border: 1px solid #ababab;
    -webkit-box-shadow: 5px 10px 16px rgba(171,171,171, 0.5), inset 0 -8px 20px 0 rgba(171,171,171, 0.3);
    -moz-box-shadow: 5px 10px 16px rgba(171,171,171, 0.5), inset 0 -8px 20px 0 rgba(171,171,171, 0.3);
    box-shadow: 5px 10px 16px rgba(171,171,171, 0.5), inset 0 -8px 20px 0 rgba(171,171,171, 0.3);
}

p.speech-bubble.gray:hover
{  
    background-color: #eeeeee;
}

p.speech-bubble.left.gray:after  
{
    border-color: transparent #dddddd transparent transparent;   
}

p.speech-bubble.right.gray:after  
{
    border-color: transparent transparent transparent #dddddd;  
} 

p.speech-bubble.green
{
    background-color: #9adb93;  
    border: 1px solid #6ca537;
    -webkit-box-shadow: 1px 1px 2px #6ca537;  
    -moz-box-shadow: 1px 1px 2px #6ca537;  
    box-shadow: 1px 1px 2px #6ca537;  

    -webkit-box-shadow: 5px 10px 16px rgba(108, 165, 55, 0.5), inset 0 -8px 20px 0 rgba(108, 165, 55, 0.3);
    -moz-box-shadow: 5px 10px 16px rgba(108, 165, 55, 0.5), inset 0 -8px 20px 0 rgba(108, 165, 55, 0.3);
    box-shadow: 5px 10px 16px rgba(108, 165, 55, 0.5), inset 0 -8px 20px 0 rgba(108, 165, 55, 0.3);
}

p.speech-bubble.green:hover
{  
    background-color: #9aef93;
}

p.speech-bubble.right.green:after  
{
    border-color: transparent transparent transparent #9adb93;  
}

p.speech-bubble.left.green:after  
{
    border-color: transparent #9adb93 transparent transparent;  
}

p.speech-bubble.blue
{
    background-color: #76baeb;  
    border: 1px solid #4d88b3;
    -webkit-box-shadow: 5px 10px 16px rgba(66, 140, 240, 0.5), inset 0 -8px 20px 0 rgba(66, 140, 240, 0.3);
    -moz-box-shadow: 5px 10px 16px rgba(66, 140, 240, 0.5), inset 0 -8px 20px 0 rgba(66, 140, 240, 0.3);
    box-shadow: 5px 10px 16px rgba(66, 140, 240, 0.5), inset 0 -8px 20px 0 rgba(66, 140, 240, 0.3);
}

p.speech-bubble.blue:hover
{  
    background-color: #86cafb;
}

p.speech-bubble.right.blue:after  
{
    border-color: transparent transparent transparent #76baeb;  
}

p.speech-bubble.left.blue:after  
{
    border-color: transparent #76baeb transparent transparent;  
}

p.speech-bubble.orange
{
    background-color: #fb9e51;  
    border: 1px solid #c08959;
    -webkit-box-shadow: 1px 1px 2px #c08959;  
    -moz-box-shadow: 1px 1px 2px #c08959;  
    box-shadow: 1px 1px 2px #c08959;
    -webkit-box-shadow: 5px 10px 16px rgba(192,137,89, 0.5), inset 0 -8px 20px 0 rgba(192,137,89, 0.3);
    -moz-box-shadow: 5px 10px 16px rgba(192,137,89, 0.5), inset 0 -8px 20px 0 rgba(192,137,89, 0.3);
    box-shadow: 5px 10px 16px rgba(192,137,89, 0.5), inset 0 -8px 20px 0 rgba(192,137,89, 0.3);
}

p.speech-bubble.orange:hover
{  
    background-color: #fbbe71;
}


p.speech-bubble.right.orange:after  
{
    border-color: transparent transparent transparent #fb9e51;  
}

p.speech-bubble.left.orange:after  
{
    border-color: transparent #fb9e51 transparent transparent;  
}


p.speech-bubble.red
{
    background-color: #fb89e0;  
    border: 1px solid #c17cb0;
    -webkit-box-shadow: 1px 1px 2px #c17cb0;  
    -moz-box-shadow: 1px 1px 2px #c17cb0;  
    box-shadow: 1px 1px 2px #c17cb0;
    -webkit-box-shadow: 5px 10px 16px rgba(193,124,176, 0.5), inset 0 -8px 20px 0 rgba(193,124,176, 0.3);
    -moz-box-shadow: 5px 10px 16px rgba(193,124,176, 0.5), inset 0 -8px 20px 0 rgba(193,124,176, 0.3);
    box-shadow: 5px 10px 16px rgba(193,124,176, 0.5), inset 0 -8px 20px 0 rgba(193,124,176, 0.3);
}

p.speech-bubble.red:hover
{  
    background-color: #fb99f0;
}

p.speech-bubble.right.red:after  
{
    border-color: transparent transparent transparent #fb89e0;  
}

p.speech-bubble.left.red:after  
{
    border-color: transparent #fb89e0 transparent transparent;  
}

p.scene
{
    position: relative;  
    width: 300px;   
    min-height: 60px;
    padding: 5px;
    margin: 90px auto 30px auto;
    text-align: center;  
    line-height: 30px; 
    font: 2em/1.4 Cambria, Georgia, sans-serif; 
    font-style: italic;
    -webkit-border-radius: 20px;  
    -moz-border-radius: 20px;  
    border-radius:20px;
    background-color: #fb9e51;  
    -webkit-box-shadow: 5px 10px 16px rgba(192,137,89, 0.5), inset 0 -8px 20px 0 rgba(192,137,89, 0.3);
    -moz-box-shadow: 5px 10px 16px rgba(192,137,89, 0.5), inset 0 -8px 20px 0 rgba(192,137,89, 0.3);
    box-shadow: 5px 10px 16px rgba(192,137,89, 0.5), inset 0 -8px 20px 0 rgba(192,137,89, 0.3);
}

a.episode
{
    display: inline-block;
    position: relative;  
    width: 100px;   
    min-height: 60px;
    max-height: 100px;
    margin: 0 0 20px 20px;
    text-align: center;  
    color: black;
    line-height: 60px; 
    font-size: 1.3em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-border-radius: 15px;  
    -moz-border-radius: 15px;  
    border-radius:15px;
    background-color: #9adb93;  
    -webkit-box-shadow: 1px 1px 2px #6ca537;  
    -moz-box-shadow: 1px 1px 2px #6ca537;  
    box-shadow: 1px 1px 2px #6ca537;  
    -webkit-box-shadow: 5px 10px 16px rgba(108, 165, 55, 0.5), inset 0 -8px 20px 0 rgba(108, 165, 55, 0.3);
    -moz-box-shadow: 5px 10px 16px rgba(108, 165, 55, 0.5), inset 0 -8px 20px 0 rgba(108, 165, 55, 0.3);
    box-shadow: 5px 10px 16px rgba(108, 165, 55, 0.5), inset 0 -8px 20px 0 rgba(108, 165, 55, 0.3);
}



