<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <title>{% block title %}{% endblock title %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <meta name="description" content="TBBT trans, An Amazing Way to Watch TBBT Show!">
        <meta name="author" content="@gzb1985">
        <meta name="keywords" content="Tbbt, the big bang theory, transcript, subs, subtitle, speech">
        <link rel="canonical" href="http://tbbttrans.herokuapp.com/">

        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link href="/static/css/speech-bubbles.css" rel="stylesheet">
        <link href="/static/css/style.css" rel="stylesheet">

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        {% block jslib %}
        {% endblock jslib %}

        {% endblock head %}
    </head>

    <body data-spy="scroll" data-target=".scene-select-sidebar">
        {% block header %}
          <nav class="navbar navbar-fixed-top">
            <div class="navbar-inner">
              <div class="container">
                <a href="/" class="brand"><img src="/static/img/logo-tbbt-trans-195.png" alt="TbbtTrans" width="195" height="37"></a>
                <ul class="nav">
                    <li><a href="/comments">Comments</a></li>
                    <li><a href="#footer">About</a></li>
                </ul>
              </div>
            </div>
          </nav>
        {% endblock header %}

        {% block content %}
        {% endblock content %}

        {% block footer %}
        <footer class="footer" id="footer">
          <div class="container">
            <p class="pull-right">
                <a href="https://www.digitalocean.com/?refcode=54af4ed11b27">
                    <img src="/static/img/do.png" width="64" border="0" alt="DigitalOcean">
                </a>
            </p>
            <p>Built by <a href="https://twitter.com/gzb1985" target="_blank">@gzb1985</a>.</p>
            <ul class="footer-links">
              <li><a href="https://github.com/gzb1985/tbbt-trans-web-viewer" target="_blank">Source code on Github</a>.</li>
            </ul>
          </div>
        </footer>
        {% endblock footer %}
    </body>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-44569385-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</html>
